---
permalink: /sitemap.html
layout: page
title: Table of Contents
---

	<div class = "indexcontent">

	<h2> Artworks </h2>

		<div class = "publist">

			<ul>
			{% assign artworks = site.pages | sort: 'sortdate' | reverse  %}
				{% for artwork in artworks %}
				{% if artwork.categories contains 'artwork' %}

				 <li>

				 	  <a href= "{% if artwork.URL %}{{artwork.URL}}{% else %}{{ BASE_PATH }}{{artwork.url}}{% endif %}">
				 	    <h4>{{ artwork.title }}</h4>
				 	    <i>by</i> {{ artwork.authors }} ({{ artwork.date | date: "%Y"}}) <br>
				 	    {% if artwork.event %}<i>at</i> {{ artwork.event }}
				 	    {% endif %}
			
				 </li>

				{% endif %}
			{% endfor %}
			</ul>
		</div>

	<h2> Posts </h2>

	<div>
	{% for post in site.posts %}
		<h5><i>{{ post.date | date_to_long_string }}</i> </h5>
		<h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
	{% endfor %}

	</div>
	</div>
