<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              <a class="u-url" href="{{ site.resume }}" target="_blank">{{ site.author | escape }}</a>
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.profession -%}
            <li>{{ site.profession }}</li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social-1.html -%}
      </div>

      <div class="footer-col footer-col-3">
        {%- include social-2.html -%}
      </div>
    </div>

  </div>

</footer>
