<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
  {% if page.layout == "publication" %}<meta name="citation_title" content="{{ page.title }}">
  <meta name="citation_date" content="{{ page.sortdate }}">
  <meta name="citation_authors" content ="{{ page.authors }}">
  <meta name="citation_journal_title" content="{{ page.journal }}">
  <meta name="citation_doi" content="{{ page.doi }}">
  <meta name="citation_volume" content="{{ page.volume }}">
  <meta name="citation_issue" content="{{ page.issue }}">
  <meta name="citation_pdf_url" content="{{ page.pdf }}"> {% endif %}
  <link rel="stylesheet" href="/_assets/et-book/et-book.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  {% if page.islucid %}
  <link rel="stylesheet" href="{{ "/css/pylit.css" | prepend: site.baseurl }}">
  {% endif %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="print" onload="this.media='all';this.onload=null;" />
  <noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" ></noscript> 
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />


  <!-- mathjax.org for math equations -->
      <style>
      .MathJax {
        min-width: 0 ! important
      }
    </style>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
      imageFont: null,
      extensions: ["tex2jax.js"],
      jax: ["input/TeX","output/HTML-CSS"],
      tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]} ,
      menuSettings: { context: "Browser" }
      });
      </script>

    <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
  <!--
    - Dynamically set liquid variables for working with URLs/paths
    -->
      {% if site.baseurl and site.baseurl != '' %}
        {% assign BASE_PATH = site.baseurl %}
        {% assign HOME_PATH = site.baseurl %}
      {% else %}
        {% assign BASE_PATH = nil %}
        {% assign HOME_PATH = "/" %}
      {% endif %}

</head>
