
  <div class = "wrapperlanding">
    <div class="site-info">
    <p>{{ site.description | markdownify }}</p>
    <a href="https://github.com/{{ site.social.github }}">Projects</a>  |
    <a href="{{site.baseurl}}/_assets/Pankesh__Resume.pdf">CV <tt style="font-size: x-small;">pdf</tt></a>

   </div>

   <div  class="site-info">
    {%   assign today = site.time | date: '%s' %}
    {%   assign artworks = site.pages | sort: 'sortdate' | reverse %}
    {% for artwork in artworks %}
			{% if artwork.categories contains 'artwork'%}
        {% assign latest_art = artwork %}
        {% break %}
      {% endif %}
    {% endfor %}
    {%   assign start = latest_art['date'] | date: '%s' %}
    {%   assign secondsSince = today | minus: start     %}
    {%   assign hoursSince = secondsSince | divided_by: 60 | divided_by: 60     %}
    {%   assign daysSince = hoursSince | divided_by: 24  %}
     <p style="margin-bottom: 0px">&#128444;</p>
     <p> 2020 lockdown blues inspired me to create, draw, sketch, cut, and fold. I'm lovin' it. </p>
     <a href="{{site.baseurl}}/art/">Artworks {% if daysSince < 6%}<sup style="font-size: xx-small; color:red">new</sup>{% endif %}</a>
       <!--  <hr class="intro-divider"> -->

   </div>

   <div  class="site-info">
    <p style="margin-bottom: 0px">&#128218;</p>
    <p> I love to read books ranging from political thought, economics, philosophy, and ofcourse machine learning & programming. For that matter, this list is never-ending.</p>

    <a href="{{site.baseurl}}/">Notes <sup style="font-size: xx-small; color:blue">coming soon</sup></a> |
    <a href="https://www.amazon.com/hz/wishlist/ls/3JMN5JCMYRY9P" target="_blank">Books wishlist</a>
      <!--  <hr class="intro-divider"> -->

  </div>

  <div  class="site-info">
    <p style="margin-bottom: 0px">&#128197; <i> Weak <a href="https://meowni.ca/weaknotes/" target="_blank"><sup>*</sup> </a>logs</i></p>
    <table>
      <tbody>
        <tr class="caledar-log">
          <td>June</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td><a href="/logs/2021/June/Wk1/">1</a></td>
          <!-- <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>7</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>14</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>21</td>
          <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          <td>28</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  </div>
