<a href= "{{project.url}}">	{{ project.title }}
  {% if project.version %}({{project.version}}){% endif %}
   by {{ project.authors }} </a>
 <ul class = "project">
   {% if project.github %}
   <li> code: <a href= "https://github.com/{{project.github}}">github.com/{{project.github}}</a> (<a href= "https://github.com/{{project.github}}/issues">issues</a>{% if project.vignette %} | <a href= "{{project.vignette}}">package vignette</a>{% endif %})
   </li>
   {% endif %}
   {% if project.cran %}
   <li> CRAN: <a href= "https://CRAN.R-project.org/package={{project.cran}}">{{project.cran}} {% if project.version %}({{project.version}}){% endif %}</a>
   </li>
   {% endif %}
   {% if project.doi %}
   <li>  doi: <a href= "http://dx.doi.org/{{project.doi}}">{{project.doi}}</a></li>
   {% endif %}
 </ul>
