---
layout: default
---

<header class="post-header">
		<h1 class="post-title">{{ page.title | markdownify}}</h1>
</header>

	<div>
		<h5> {{ page.authors | prepend: '*by* &nbsp;' | markdownify }}</h5>
		{% if page.date %}
		<h5> Published: {{ page.date | date_to_long_string }} </h5>
		{% endif %}
		{% if page.journal %}
		<h5> In: <a href= "{{page.URL}}"><i>{{ page.journal }}</i>{% if page.volume%}, {{page.volume}}:{{ page.pages }}{% endif %} </a></h5>
		{% endif %}
		{% if page.github %}
		<h5>  github: <a href= "https://github.com/{{page.github}}">{{page.github}}</a> (<a href= "https://github.com/{{page.github}}/issues">issues</a>{% if page.vignette %} | <a href= "{{project.vignette}}">package vignette</a>{% endif %}) </h5>
		{% endif %}
		{% if page.doi %}
		<h5> doi: <a href= "http://dx.doi.org/{{page.doi }}"> {{page.doi }} </a></h5>
		{% endif %}
		{% if page.code %}
		<h5> code: <a href= "{{ page.code }}"> {{ page.code }} </a></h5>
		{% endif %}
	</div>


	<div class = "abstract">

	{{ page.content | markdownify }}

	</div>

	<div>
		<h3> Related publications </h3>

		<div class = "publist" style = "font-size: 0.8em; line-height:110%">
			<ul>
			{% for publication in site.pages %}
				{% if  publication.tag contains page.tag and publication.date != page.date%}
				 <li>	 {% include publication.html %}		 </li>
				{% endif %}
			{% endfor %}

			{% for project in site.pages %}
				{% if project.categories contains 'project' and project.tag contains page.tag  and project.date != page.date%%}
				 <li> {% include project.html %} </li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>


</div>
