<!--
╔╗ ┌─┐┌─┐┬┌─┐  ╔╦╗╦  
╠╩╗├─┤└─┐││    ║║║║  
╚═╝┴ ┴└─┘┴└─┘  ╩ ╩╩═╝

while True:
    print ("Nothing lasts forever")
-->
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="rows" style="background: {{ page.cover_art }}; background-size: {{ page.cover_art_size }}"></div>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    {%- include katex.html -%}
    {%- include external.html -%}
  </body>

</html>
