---
layout: default
---

<div class="home">

  {% if site.paginate %}
  {% assign posts = paginator.posts | sort: "stickiness"%}
  {% else %}
  {% assign posts = site.posts | sort: "stickiness"%}
  {% endif %}

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    {% for post in posts %}
      <li>
        {% if post.sticky == null %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
        {% else %}
          <span class="post-meta">Pinned</span>
        {% endif %}
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}"> 
            {% if post.sticky %}
              <i class="fas fa-thumbtack" style="color: brown;">&nbsp;</i> 
            {% endif %}
            {{ post.title | escape }}
          </a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  {% if site.posts.size > site.paginate %}
    {% if site.paginate %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Previous</a>
      {% endif %}

      <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
      {% endif %}
    </div>
    {% endif %}
    <br/>
  {% endif %}

</div>
